.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.description {
    margin: 80px 0;
}
/* 
.pics-container {
    height: 275px;
    width: 550px;
} */

.logo {
    height: 500px;
    width: 800px;
    transition: 350ms all;
    border-radius: 10px;
}

.logo-wrapper {
    height: 500px;
    width: 800px;
    box-shadow: 0px 0px 30px rgba(190, 190, 190, 0.65);  
    border-radius: 10px;
}

.logo-small {
    height: 400px;
    width: 600px;
    border: 2px solid #B7B7B7;
    padding: 5px;
}

.arrow {
    margin: 25px;
    height: 40px;
    width: 40px;
}

.arrow:hover {
    cursor: pointer;
}

.project-summary {
    text-align: center;
}

.arrow-wrapper {
    height: 60px;
    width: 60px;
}

#forward-arrow {
    width: 60px;
    height: 60px;
    margin: 20px;
    
}
.top-bar, .bottom-bar {
    transition: 300ms all;
}

#forward-arrow:hover {
    cursor: pointer;
}

#forward-arrow:hover .top-bar {
    transform: scale(1.1);
    /* fill: white; */
}

#forward-arrow:hover .bottom-bar {
    transform: scale(1.1);
    /* fill: white; */
}

#backward-arrow {
    width: 60px;
    height: 60px;
    margin: 20px;
}

.outer-bottom-bar, .outer-top-bar {
    transition: 300ms all;    
}

#backward-arrow:hover {
    cursor: pointer;
}

#backward-arrow:hover .outer-top-bar {
    transform: scale(1.1);
}

#backward-arrow:hover .outer-bottom-bar {
    transform: scale(1.1);
}